/* --- Plugin Styles --- */
/* Accordion Shortcodes */
/* Accordion Styles */
.accordion {
    margin-bottom: $padding-small-vertical;
    @media screen and (min-width: $screen-tablet) {
    	margin-bottom: $padding-base-vertical;
    }
    @media screen and (min-width: $screen-desktop) {
    	margin-bottom: $padding-large-vertical;
    }
    @media screen and (min-width: $screen-lg-desktop) {
    	margin-bottom: $padding-large-vertical * 2;
    }
    > br {
    	display: none;
    }
}
.accordion-title {
    margin: 0;
    padding: $padding-small-vertical 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    font-family: $lato;
    @include transition(all .2s ease-in-out);
    @media screen and (min-width: $screen-tablet) {
    	font-size: 15px;
    }
    @media screen and (min-width: $screen-desktop) {
    	font-size: 16px;
    	line-height: 24px;
    }
    @media screen and (min-width: $screen-lg-desktop) {
    	font-size: 18px;
    	line-height: 27px;
    }
    &:hover {
    	color: $secondary-nav-bg;
    }
    &.open {
    	cursor: default;
    	font-weight: bold;
    	color: $secondary-nav-bg;
    }
}
.accordion-content {
	padding-bottom: $padding-small-vertical;	
}

/* --- Contextual Related Posts --- */
.suggested-reading-wrapper {
    @include clearfix;
    .crp_related {
        @include clearfix;
        margin: 0;
        padding: 0;
        .sr-title {
            margin: 0;
            padding: 0;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            font-weight: bold;
            color: $brand-primary;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
            li {
                display: block;
                width: 50%;
                float: left;
                margin-bottom: $padding-base-vertical;
                @media screen and (min-width: $screen-desktop) {
                    margin-bottom: $padding-large-vertical;
                }
                a {
                    display: block;
                    margin-right: $padding-base-vertical / 2;
                    @include box-shadow(rgba(black, .1) 0 0 5px);
                    @include transition(all .2s ease-in-out);
                    &:hover,
                    &:focus,
                    &:active {
                        @include box-shadow(rgba(black, .4) 0 1px 5px);
                    }
                    @media screen and (min-width: $screen-desktop) {
                        margin-right: $padding-large-vertical / 2;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                &:nth-of-type(even) a {
                    margin-left: $padding-base-vertical / 2;
                    margin-right: 0;
                    @media screen and (min-width: $screen-desktop) {
                        margin-left: $padding-large-vertical / 2;
                    }
                }
            }
        }
    }
}