@import "bootstrap/variables";

// Fonts
$quicksand: 			'Quicksand', sans-serif;
$lato: 					'Lato', sans-serif;
$garamond_regular: 		'AGaramondPro-Regular', serif;
$garamond_bold: 		'AGaramondPro-Bold', serif;
$garamond_italic: 		'AGaramondPro-Italic', serif;
$garamond_bolditalic: 	'AGaramondPro-BoldItalic', serif;
$coneria: 				'ConeriaScriptDemo', serif;

// Override Bootstrap variables here
//== Colors
$searchform-drawer-bg: 		rgba(black, .15);
$primary-nav-bg: 			#84BDA0;
$secondary-nav-bg: 			#BDBDC0; // #702454;
$intro-section-bg: 			#F8FAF3;
$about-section-bg: 			#F8FAF3;
$recentposts-section-bg: 	#F8FAF3;
$footer-bg:					#84BDA0;

$brand-primary: 			#6db799;

$mp-subnav-btn-bg: #295fa6;
$mp-subnav-btn-hover-bg: #40d1f3;

$mp-title-color: #00cbf2;
$mp-title-color-alt: #457cb9;
$mp-title-border: #dcc6a8;
$mp-subtitle-color: #6b8ec0; 
$mp-text-color: #797979;

$mp-bg-blue: #d9e9f6;
$mp-bg-blue-text: #1559a5;

//== Scaffolding
//
$body-bg:               #fff;
$text-color:            $gray-dark;

$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%);

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  $quicksand; // "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       $garamond_regular; //Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-serif; // !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif; //inherit !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

//== Iconography
//** Load fonts from this directory.
$icon-font-path: "../fonts/bootstrap/";

//== Dropdowns
$dropdown-link-color:            $link-color;
$dropdown-link-hover-color:      $link-hover-color;
$dropdown-link-active-bg:        $brand-primary;

//== Navbar
//
// Basics of a navbar
$navbar-height:                    40px;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;

$navbar-default-bg:                $primary-nav-bg;
$navbar-default-border:            darken($navbar-default-bg, 0%);

// Navbar links
$navbar-default-link-color:                #18433C;
$navbar-default-link-hover-color:          darken($navbar-default-link-color, 20%);
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 6.5%); // transparent;
$navbar-default-link-active-color:         #fff; //darken($navbar-default-link-color, 40%);
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent;
$navbar-default-toggle-icon-bar-bg:        $navbar-default-link-color; // #83bea0;
$navbar-default-toggle-border-color:       transparent;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-bg:                         $secondary-nav-bg; // #83bea0;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 0%);

// Inverted navbar links
$navbar-inverse-link-color:                #fff;
$navbar-inverse-link-hover-color:          $navbar-inverse-link-color;
$navbar-inverse-link-hover-bg:             darken($navbar-inverse-bg, 6.5%);
$navbar-inverse-link-active-color:         $navbar-inverse-link-color;
$navbar-inverse-link-active-bg:            darken($navbar-inverse-bg, 6.5%);

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            transparent;
$navbar-inverse-toggle-icon-bar-bg:         $navbar-inverse-link-color;
$navbar-inverse-toggle-border-color:        transparent;

//== Buttons
//

$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);