/* --- Megafooter --- */
#megafooter {
	padding-top: 48px;
	padding-bottom: 48px;
	.widget {
		margin-bottom: 24px;
		@media screen and (min-width: $screen-tablet) {
			margin-bottom: 0;
		}
		.widget-header {}
		.widget-title {
			color: #01894f;
			text-transform: uppercase;
		}
	}
	.logo-widget {
		.image-wrap {
			width: 20%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			@media screen and (min-width: $screen-tablet) {
				width: 40%;
			}
			@media screen and (min-width: $screen-desktop) {
				width: 60%;
			}
		}
	}
	.links-widget {
		text-align: center;
		@media screen and (min-width: $screen-tablet) {
			text-align: left;
		}
		a {
			color: #0e3c34;
			text-decoration: none;
			&:hover,
			&:focus,
			&:active {
				color: $brand-primary;
			}
		}
	}
}

#footer {
	background: $footer-bg;
	padding-top: 24px;
	padding-bottom: 24px;
	p {
		margin-bottom: 0;
		color: #fff;
		font-size: 12px;
		a {
			color: #fff;
		}
		a[rel="home"] {
			margin-left: 3px;
			margin-right: 3px;
		}
	}
}