/* --- Signup Section --- */
#signup-section {
	// background-image: url(../img/purple-cabbage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@include background-size(cover);
	padding-top: 48px;
	padding-bottom: 48px;
	.signup-wrapper {
		background: rgba(white, .5);
	}
	.section-title {
		text-transform: uppercase;
		font-size: 27px;
		margin-bottom: 12px;
		color: #ff2c40;
	}	
	.signup-form {
		background: #fff;
		padding-top: 24px;
		padding-bottom: 24px;
		margin-bottom: 48px;
		.form-header {
			.section-subtitle {
				text-transform: none;
				font-size: 24px;
				margin-top: 0;
				color: #18433C;
				font-family: $font-family-serif;
				font-weight: 400;
				font-style: italic;
			}		
		}
		.form-wrap {
			margin-top: 12px;
			position: relative;
			.image-wrap {
				position: relative;
				z-index: 2;
			}
			.button-wrap {
				position: absolute;
				z-index: 3;
				right: $padding-large-horizontal;
				top: 50%;
				height: 70px;
				margin-top: -35px;
				.btn {
					height: 70px;
					display: table;
					width: 205px;
					margin: 0;
					padding: 0;
					@include border-radius(0);
					// @include text-shadow(none);
					border-color: transparent;
					background: #84BDA0;
					@include transition(all .2s ease-out);
					&:hover,
					&:focus,
					&:active {
						background: darken(#84BDA0, 10%);
						border-color: darken(#84BDA0, 15%);
						@include border-radius(10px);
					}
					.btn-text {
						display: table-cell;
						vertical-align: middle;
						text-transform: uppercase;
						color: #fff;
						font-size: 20px;
						line-height: 30px;
						padding-left: 15px;
						padding-right: 50px;
						position: relative;
						i {
							background: #fff;
							color: #84BDA0;
							@include border-radius(50%);
							width: 30px;
							height: 30px;
							text-align: center;
							line-height: 30px;
							text-indent: 3px;
							position: absolute;
							right: $padding-base-horizontal; // 0;
							top: 50%;
							margin-top: -15px;
						}
					}
				}
			}
		}
	}
}