/* --- Masthead --- */
#masthead {
	background: transparent url(../img/green-leaves.png) center top no-repeat;
	@include background-size(cover);
	#site-branding {
		@media screen and (min-width: $screen-tablet) {
			// display: table;
			// width: 100%;
			height: 165px;
			// padding-top: 24px;
			// padding-bottom: 24px;
		}
		.site-title {
			text-align: center;
			@media screen and (min-width: $screen-tablet) {
				// display: table-cell;
				// vertical-align: middle;
				text-align: left;
			}
			a {
				display: block;
				max-width: 229px;
				max-height: 122px;
				margin-left: auto;
				margin-right: auto;
				background: transparent url(../img/site-logo.png) left top no-repeat;
				@include background-size(cover);
				@include hide-text;
				@media screen and (min-width: $screen-tablet) {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		.site-description {
			text-align: center;
			text-transform: uppercase;
			font-family: $lato;
			font-weight: 300;
			font-style: italic;
			color: #8b4a74;
			@media screen and (min-width: $screen-tablet) {
				// display: table-cell;
				// vertical-align: middle;
				text-align: right;
			}
		}
	}
}