/* --- Archives --- */
.archive-header,
.page-header {
	// margin: 24px auto;
	// max-width: 474px;
}

.archive-title,
.page-title {
	font-size: 16px;
	margin: 24px 0 6px 0;
	@media screen and (min-width: $screen-tablet) {
		font-size: 20px;
		margin: 36px 0 12px 0;
	}
	@media screen and (min-width: $screen-desktop) {
		font-size: 24px;
		margin: 48px 0 12px 0;
	}
	@media screen and (min-width: $screen-desktop) {
		font-size: 36px;
	}
}

.taxonomy-description,
.author-description {
	color: $text-color;
	font-size: 14px;
	padding-top: 18px;
}
.taxonomy-description p,
.author-description p {
	margin-bottom: 18px;
}

.taxonomy-description p:last-child,
.author-description p:last-child {
	margin-bottom: 0;
}

.taxonomy-description a,
.author-description a {
	text-decoration: underline;
}

.taxonomy-description a:hover,
.author-description a:hover {
	text-decoration: none;
}
