/* --- Author Info --- */
#main #author-info {
	background: rgba($brand-primary, .1);
	padding: $padding-base-horizontal;
	margin: $padding-large-horizontal 0;
	@include box-shadow(rgba(black, .1) 0px 1px 5px inset);
	#author-image {
        float: left;
		margin: 0 10px 0 0;
        .thumbnail {
            margin-bottom: 0;
        }
		img {
			margin: 0;
			@include box-shadow(rgba(black, .1) 0 0 5px);
            border-radius: 4px; 
		}
	}
    #author-bio {
        margin: 0;
    }
	.author-name {
		font-family: $font-family-serif;
		text-transform: uppercase;
		color: $brand-primary;
		@include text-shadow(rgba(white, .8) 0 1px 0);
	}
	.author-social-links {
		@include clearfix;
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline;
			li {
				display: inline-block;
			}
		}
	}
}