/* --- Entry Meta --- */
.entry-meta {
	color: rgba($text-color, .6);
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	@media screen and (min-width: $screen-tablet) {
		font-size: 13px;
		line-height: 18px;
	}
	@media screen and (min-width: $screen-desktop) {
		font-size: 15px;
		line-height: 20px;
	}
	@media screen and (min-width: $screen-desktop) {
		font-size: 16px;
		line-height: 24px;
	}
	a {
		color: rgba($text-color, .6);
		@include transition(all .3s ease-in-out);
		&:hover,
		&:focus,
		&:active {
			color: $link-color;
		}
	}
}

.sticky .entry-date {
	display: none;
}

.cat-links {
	font-weight: 700;
	text-transform: uppercase;
	a {
		color: $text-color;
		@include transition(color .3s ease-in-out);
		// text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: $link-color;
		}
	}
}

.byline {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}