/* --- Entry Header --- */
.entry-header {
	margin: 0;
	padding: 0 40px 0 0;
}

.entry-title {
	font-size: 14px; // 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
    text-align: left;
    @media screen and (min-width: $screen-tablet) {
    	font-size: 16px;
    	line-height: 24px;
    }
    @media screen and (min-width: $screen-desktop) {
    	font-size: 18px;
    	line-height: 27px;
    }
    @media screen and (min-width: $screen-desktop) {
    	font-size: 22px;
    	line-height: 33px;
    }
	a {
		color: $text-color;
		@include transition(color .3s ease-in-out);
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: $link-color;
		}
	}
}

.single #primary .entry-header {
	margin-bottom: $padding-large-horizontal;
}

.page .page-header .page-title,
.archive .page-header .page-title,
.single .entry-header .entry-title {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 16px;
	margin: 24px 0 6px 0;
	@media screen and (min-width: $screen-tablet) {
		font-size: 20px;
		margin: 36px 0 12px 0;
	}
	@media screen and (min-width: $screen-desktop) {
		font-size: 24px;
		margin: 48px 0 12px 0;
	}
	@media screen and (min-width: $screen-desktop) {
		font-size: 36px;
	}
}
.archive .page-header .page-title {}
.single .entry-header .entry-title {}