/* --- Entry Header --- */
.entry-header {
	// position: relative;
	// z-index: 1;
}

.entry-title {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 12px 0;
	font-size: 20px;
	margin: 0;
	@media screen and (min-width: $screen-tablet) {
		font-size: 24px;
		margin-bottom: 6px;
	}
	@media screen and (min-width: $screen-desktop) {
		font-size: 30px;
		margin-bottom: 12px;
	}
	a {
		color: $text-color;
		@include transition(color .3s ease-in-out);
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: $link-color;
		}
	}
}

.site-content .entry-header {
	background-color: #fff;
	// padding: 0 10px 12px;
}

.site-content .has-post-thumbnail .entry-header {
	// padding-top: 24px;
}