/* --- Entry Content --- */
.entry-content,
.entry-summary,
.page-content {
	@include hyphens(auto);
	word-wrap: break-word;
	text-align: justify;
	line-height: 25px;
	p {
		font-size: 14px;
		line-height: 20px;
		@media screen and (min-width: $screen-tablet) {
			font-size: 15px;
			line-height: 22px;
		}
		@media screen and (min-width: $screen-desktop) {
			font-size: 16px;
			line-height: 24px;
		}
		@media screen and (min-width: $screen-lg-desktop) {
			font-size: 18px;
			line-height: 27px;
		}
	}
	.podicons {
		display: -webkit-inline-box;
	}
	.itunessec {
		text-align: center;
		border: #89c464 2px solid;
		padding: 15px;
		background: #f0f7f4;
	}
	.qpodcast {
		margin: 30px 0 30px 20px;
		padding: 0 0 0 25px;
		border-left: 3px solid #eee;
		font-size: 24px;
		font-style: italic;
		line-height: 28px;
		font-weight: bold;
		color: #81afa2;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #81afa2;
	}
}

.site-content .entry-content,
.site-content .entry-summary,
.page-content {
	background-color: #fff;
	padding: 12px 10px 0;
}

.blog .entry-content img {
	display: none;
}
#full-width-template .site-content {}

/* Page links */

.page-links {
	clear: both;
	font-size: 12px;
	font-weight: 900;
	line-height: 2;
	margin: 24px 0;
	text-transform: uppercase;
}
.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	display: inline-block;
	height: 22px;
	margin: 0 1px 2px 0;
	text-align: center;
	width: 22px;
}
.page-links a {
	background: #000;
	border: 1px solid #000;
	color: #fff;
	text-decoration: none;
}
.page-links a:hover {
	background: #41a62a;
	border: 1px solid #41a62a;
	color: #fff;
}
.page-links > .page-links-title {
	height: auto;
	margin: 0;
	padding-right: 7px;
	width: auto;
}

.single .entry-content .tptn_counter { display: none; }