// General
.btn {
	font-family: $font-family-sans-serif;
}
.content-area {
	// padding-top: 24px;
	@media screen and (min-width: $screen-tablet) {
		// padding-top: 48px;
	}
}

.hentry {
	margin: 0 0 24px 0;
	position: relative;
	@media screen and (min-width: $screen-tablet) {
		margin: 0 0 48px 0;
	}
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
	margin: 0 auto;
}

.page-content {
	margin-bottom: 24px;
	@media screen and (min-width: $screen-tablet) {
		margin-bottom: 48px;
	}
}

.blog #content,
.single #content {
	background: #eee;
	padding-top: 24px;
	padding-bottom: 24px;
	@media screen and (min-width: $screen-tablet) {
		padding-top: 36px;
		padding-bottom: 36px;
	}
	@media screen and (min-width: $screen-desktop) {
		padding-top: 48px;
		padding-bottom: 48px;
	}
}
.blog #primary .hentry,
.single #primary .hentry {
	@include clearfix;
	background: #fff;
	padding: $padding-base-vertical;
	@media screen and (min-width: $screen-tablet) {}
	@media screen and (min-width: $screen-desktop) {
		border: 1px solid rgba(black, .1);
	}
	.image-wrap {
		img {}
	}
	.content-wrap {
		@include clearfix;
		.entry-content {
			display: none;
			@media screen and (min-width: $screen-desktop) {
				@include clearfix;
				display: block;
				margin-top: 12px;
			}
			.read-more-link {
				display: block;
				float: right;
				margin-top: 12px;
				background: $brand-primary;
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;
				color: #fff;
				padding: $padding-base-vertical $padding-base-horizontal;
			}
		}
	}
}
.single #primary .hentry .content-wrap .entry-content { display: block; }
.single #primary .hentry .image-wrap {
	margin-bottom: $padding-large-vertical;
}

/* Post Format Icon */
.post-format-icon {
	position: absolute;
	right: 7px;
	top: 50%;
	margin-top: -17px;
	content: '';
	height: 34px;
	width: 34px;
	background-color: transparent;
	background-image: url(../img/icons/post-format-icons/standard.png);
	background-position: center center;
	background-repeat: no-repeat;
	@include scale(.75);
	@media screen and (min-width: $screen-tablet) {
		@include scale(1);
	}
	@media screen and (min-width: $screen-desktop) {
		top: 7px;
		margin-top: 0;
	}
}