/* --- Store Section --- */
#content #primary #main .page .entry-content .woocommerce {
	.products {
		.product {
			> a {
				img {}
				h3 {
					padding: 0;
					margin: $padding-large-vertical 0;
					line-height: 18px;
					height: 36px;
                    color: #000;
					@media screen and (min-width: $screen-tablet) {
						height: 72px;
					}
					@media screen and (min-width: $screen-desktop) {
						height: 36px;
					}
				}
				.price {
					padding: 0;
					margin: $padding-large-vertical 0;
                    color: #000;
				}
			}
			h3 {}
			.button.product_type_external {
				margin: 0;
			}
		}
	}
}

.woocommerce {
    .related {
        ul.products {
            li.product {
                width: 23.5%;
                margin-right: 2%;
                &:last-child {
                    @media screen and (min-width: $screen-tablet) {
                        margin-right: 0;
                    }
                }
                &:nth-child(2n) {
                    @media screen and (max-width: $screen-phone) {
                        margin-right: 0;
                    }    
                }
                @media screen and (max-width: $screen-phone) {
                    width: 48%;
                    margin-right: 4%;    
                }
            }
        }
    }
}
.shipping_calculator {
    h2 a {
        text-decoration: none;
        cursor: text;
        &:hover {
            color: #81afa2;
        }
    }
    .shipping-calculator-form {
        display: block !important;
    }
}
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
    @media screen and (min-width: $screen-tablet) {
        width: 60%;
    }
    table {
        @media screen and (min-width: $screen-tablet) {
            table-layout: fixed;
            width: 480px;
            float: right;
        }
        th {
            @media screen and (min-width: $screen-tablet) {
                width: 40%;
            }
        }
        td {
            @media screen and (min-width: $screen-tablet) {
                width: 60%;
            }
        }
    }
    p {
        @media screen and (min-width: $screen-tablet) {
            clear: both;
        }
    }
}