/* --- Singup Page --- */
#signup-page-template {
	border-bottom: 1px solid rgba(black, .1);
	.page-masthead {
		position: relative;
		height: 300px;
		display: table;
		width: 100%;
		@media screen and (min-width: $screen-tablet) {
			height: 400px;
		}
		@media screen and (min-width: $screen-desktop) {
			height: 500px;
		}
		@media screen and (min-width: $screen-lg-desktop) {
			height: 600px;
		}
		.img-block {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: transparent;
			background-position: center top;
			background-repeat: no-repeat;
			@include background-size(cover);
			z-index: 1;
		}
		.overlaid-content {
			position: relative;
			z-index: 2;
			display: table-cell;
			vertical-align: middle;
			.section-header {
				.section-title {
					margin: 0 0 6px 0;
					padding: 0;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 19px;
					text-align: center;
					@media screen and (min-width: $screen-tablet) {
						font-size: 22px;
						line-height: 33px;
						margin-bottom: 0;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 24px;
						line-height: 36px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 27px;
						line-height: 40px;
					}
					span {
						font-family: $coneria;
						font-weight: bold;
					}
				}
				.section-subtitle {
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					font-weight: bold;
					font-style: italic;
					font-size: 14px;
					text-align: center;
					border-top: 1px solid $brand-primary;
					border-bottom: 1px solid $brand-primary;
					max-width: 50%;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					margin-top: $padding-large-vertical;
					color: $brand-primary;
					@media screen and (min-width: $screen-tablet) {
						font-size: 16px;
						line-height: 24px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 18px;
						line-height: 27px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 20px;
						line-height: 30px;
					}
				}
			}
			.section-content {
				margin-top: 18px;
				padding-right: 50px;
				padding-left: 50px;
				.title {
					margin: 0 0 6px 0;
					padding: 0;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 14px;
					text-align: center;
					@media screen and (min-width: $screen-tablet) {
						font-size: 16px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 18px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 20px;
					}
				}
				p {
					margin: 0;
					padding: 0;
					font-style: italic;
					font-size: 14px;
					text-align: center;
					@media screen and (min-width: $screen-tablet) {
						font-size: 17px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 19px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 21px;
					}
				}
			}
			.graphics-wrap {
				@include clearfix;
				margin-top: $padding-base-vertical;
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
				@media screen and (min-width: $screen-tablet) {
					margin-top: $padding-large-vertical;
					max-width: 350px;
				}
				@media screen and (min-width: $screen-desktop) {
					margin-top: $padding-large-vertical * 2;
					max-width: 400px;
				}
				.central-object {
					text-align: center;
					img {
						display: inline-block;
					}
				}
			}
		}
	}
	.page-welcome {
		margin-top: 24px;
		.entry-content {
			background: #eaefdc;
			padding: $padding-base-horizontal;
			border: 10px solid #fff;
			@include box-shadow(#84bda0 0 0 0 1px);
			color: #18433c;
			text-align: center;
			@media screen and (min-width: $screen-tablet) {
				padding: $padding-large-horizontal;
			}
			@media screen and (min-width: $screen-desktop) {
				padding: $padding-large-horizontal * 2;
			}
			@media screen and (min-width: $screen-lg-desktop) {
				padding: $padding-large-horizontal * 3;
			}
			p {
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				font-family: $lato;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				max-width: 90%;
				margin-left: auto;
				margin-right: auto;
				span {
					color: #1c904a;
				}
				@media screen and (min-width: $screen-tablet) {
					font-size: 18px;
					line-height: 27px;
				}
				@media screen and (min-width: $screen-desktop) {
					font-size: 21px;
					line-height: 32px;
				}
				@media screen and (min-width: $screen-lg-desktop) {
					font-size: 25px;
					line-height: 38px;
				}
			}
		}
	}
	#content {
		margin-top: 24px;
		background: white url(../img/carrots.png) left bottom no-repeat;
		padding-bottom: 500px;
		@media screen and (min-width: $screen-tablet) {
			margin-top: 36px;
			padding-bottom: 400px;
		}
		@media screen and (min-width: $screen-desktop) {
			margin-top: 48px;
			padding-bottom: 250px;
		}
		@media screen and (min-width: $screen-lg-desktop) {
			padding-bottom: 200px;
		}
		#primary {
			#main {
				.freebies-wrap {
					.freebie {
						margin: 0 0 48px 0;
						padding: 0;
						.entry-header {
							margin-left: 0;
							margin-right: 0;
							padding-left: 0;
							padding-right: 0;
							.entry-title {
								margin: 0;
								padding: 0;
								text-transform: none;
								font-size: 15px;
								line-height: 20px;
								color: #18433c;
								font-weight: bold;
								@media screen and (min-width: $screen-tablet) {
									font-size: 17px;
									line-height: 24px;
								}
								@media screen and (min-width: $screen-desktop) {
									font-size: 18px;
									line-height: 27px;
								}
								@media screen and (min-width: $screen-lg-desktop) {
									font-size: 24px;
									line-height: 36px;
								}
							}
						}
						.entry-content {
							margin-left: 0;
							margin-right: 0;
							padding-left: 0;
							padding-right: 0;
							padding-top: 6px;
							font-size: 14px;
							line-height: 20px;
							color: #18433c;
							@media screen and (min-width: $screen-tablet) {
								font-size: 15px;
								line-height: 20px;
							}
							@media screen and (min-width: $screen-desktop) {
								font-size: 15px;
								line-height: 22px;
							}
							@media screen and (min-width: $screen-lg-desktop) {
								font-size: 18px;
								line-height: 27px;
							}
						}
					}
				}
			}
		}
		#signmeup-secondary {
			background: #84bda0;
			border: 0;
			@include box-shadow(none);
			margin-bottom: 24px;
			padding-bottom: 6px;
			@media screen and (min-width: $screen-tablet) {
				margin-bottom: 48px;
			}
			.widget {
				@include clearfix;
				.widget-header {
					.widget-title {
						color: #fff;
						margin: 48px 0;
						padding: 0;
						text-align: center;
						// font-weight: 300;
						font-size: 30px;
						line-height: 45px;
						font-family: $font-family-serif;
						@media screen and (min-width: $screen-desktop) {
							font-size: 40px;
							line-height: 60px;
						}
					}
				}
				.widget-content {
					// background: #e1ebe4;
					@include clearfix;
					padding-bottom: 36px;
					margin: $padding-large-vertical $padding-large-horizontal;
					form {
						@include clearfix;
						margin: 0;
						padding: 0;
						background: #e1ebe4;
						padding: 36px 0 0 0;
						.form-group {
							background: #f5faf8;
							margin-left: $padding-large-horizontal;
							margin-right: $padding-large-horizontal;
							.form-control {
								@include border-radius(0);
								border: 0;
								background: transparent;
								color: #18433c;
								font-family: $font-family-sans-serif;
								&::-moz-placeholder { color: #999; opacity: 1; font-family: $font-family-serif; }
								&:-ms-input-placeholder { color: #999; font-family: $font-family-serif; }
								&::-webkit-input-placeholder { color: #999; font-family: $font-family-serif; }
							}
							label {
								padding-left: $padding-large-horizontal;
								padding-top: $padding-large-horizontal;
								color: #18433c;
								font-family: $font-family-sans-serif;
							}
							.radio-wrap label {
								padding-left: 20px;
								padding-top: 0;
								color: #18433c;
								font-family: $font-family-serif;
							}
							.radio-wrap {
								margin-left: 40%;
							}
							.captcha-input {
								// @include clearfix;
								// display: block;
								// margin-left: $padding-large-horizontal;
								// margin-bottom: $padding-large-horizontal;
								// width: 100%;
							}
						}
						.captcha-wrap {
							background: #f5faf8;
							padding: $padding-large-horizontal;
							margin-left: $padding-large-horizontal;
							margin-right: $padding-large-horizontal;
							\margin-bottom: 36px;
							img {
								width: 100%;
								border: 0;
								@include box-shadow(none);
							}
							label {
								margin-top: $padding-large-vertical;
								color: #18433c;
								font-family: $font-family-sans-serif;
							}
							.form-control {
								@include border-radius(0);
								border: 1px solid #84bda0;
								// background: transparent;
								color: #18433c;
								font-family: $font-family-sans-serif;
								&::-moz-placeholder { color: #999; opacity: 1; font-family: $font-family-serif; }
								&:-ms-input-placeholder { color: #999; font-family: $font-family-serif; }
								&::-webkit-input-placeholder { color: #999; font-family: $font-family-serif; }
							}
						}
						.button-wrap {
							background: #84bda0;
							padding-top: $padding-large-horizontal * 2;
						}
						#signmeup-submit {
							@include clearfix;
							@include border-radius(0);
							border-color: transparent;
							@include box-shadow(none);
							text-transform: uppercase;
							display: block;
							width: 100%;
							padding-top: 24px;
							padding-bottom: 24px;
							margin-top: 24px;
							background: #ef413d;
							@include transition(all .2s ease-in-out);
							outline: 0;
							font-family: $font-family-sans-serif;
							&:focus,
							&:hover,
							&:active {
								background: darken(#ef413d, 20%);
								border-color: darken(#ef413d, 25%);
								outline: 0;
							}
						}
					}
				}
			}
		}
	}
}

.page-template-page-templatessign-me-up-php #signup-section { display: none; }