/* --- Full Width Page Template --- */
#videos-page-template {
	#primary .page-header {
		.page-title {
			text-transform: uppercase;
		}
	}
	#primary .videos-wrap {
		.flexslider {
			@include border-radius(0);
			@include box-shadow(none);
			background: transparent;
			border: 0;
			margin-bottom: 0;
		}
		.video-post {
			position: relative;
			overflow: hidden;
			.button-wrap {
				position: absolute;
				left: 50%;
				height: 40px;
				width: 40px;
				margin: 0;
				padding: 0;
				margin-left: -20px;
				top: 50%;
				margin-top: -35px;
				.btn {
					@include border-radius(50%);
					margin: 0;
					padding: 0;
					height: 40px;
					width: 40px;
					display: block;
					outline: 0;
					border: 0;
					@include transition(all .2s ease-in-out);
					&:hover,
					&:focus,
					&:active {
						background: #fff;
						color: $brand-primary;
						@include box-shadow(rgba(black, .4) 0 0 5px);
					}
				}
			}
			.image-wrap {
				img {}
			}
			.video-content {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background: $brand-primary;
				padding: $padding-large-vertical $padding-base-horizontal;
				@include box-shadow(rgba(black, .4) 0 -5px 10px);
				.video-header {
					margin: 0;
					padding: 0;
					.video-title {
						margin: 0;
						padding: 0;
						font-size: 12px;
						line-height: 18px;
						text-align: center;
						text-transform: uppercase;
						color: #fff;
						@include text-shadow(rgba(black, .2) 0 1px 3px);
						font-weight: normal;
						font-family: $lato;
						@media screen and (min-width: $screen-tablet) {
							font-size: 14px;
							line-height: 20px;
						}
						@media screen and (min-width: $screen-desktop) {
							text-align: left;
							font-size: 16px;
							line-height: 24px;
						}
						@media screen and (min-width: $screen-lg-desktop) {
							font-size: 18px;
							line-height: 27px;
						}
					}
				}
				.video-entry {
					p {
						display: none;
						margin: 0;
						padding: 0;
						text-align: center;
						@media screen and (min-width: $screen-tablet) {
							display: block;
						}
						@media screen and (min-width: $screen-desktop) {
							text-align: left;
						}
					}
				}
			}
		}
	}
}