/* --- Start A Nutritional Balancing Page Template --- */
#start-nb-template {
	#content {
		.custom-bottom-bg {
			@include clearfix;
			display: block;
			height: 150px;
			width: 100%;
			background-image: url(../img/mineral-power-bg.png);
			background-color: transparent;;
			background-position: center bottom;
			background-repeat: no-repeat;
			@include background-size(cover);
			@media screen and (min-width: $screen-tablet) {
				height: 180px;
			}
			@media screen and (min-width: $screen-desktop) {
				height: 220px;
			}
			@media screen and (min-width: $screen-lg-desktop) {
				height: 400px;
			}
		}
	}
	#primary {}
	#main {
		.row {
			background: $mp-bg-blue;
		}
		.page-header {
			margin-bottom: $padding-large-vertical;
			padding-bottom: 0;
			border: 0;
			@media screen and (min-width: $screen-tablet) {
				margin-bottom: $padding-large-vertical * 2;
			}
			.page-title {
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				// font-family: $quicksand;
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
				color: $mp-bg-blue-text; //#31935f;
				@media screen and (min-width: $screen-tablet) {
					font-size: 18px;
					line-height: 27px;
				}
				@media screen and (min-width: $screen-desktop) {
					font-size: 22px;
					line-height: 33px;
				}
				@media screen and (min-width: $screen-lg-desktop) {
					font-size: 30px;
					line-height: 45px;
				}
			}
		}
		.image-wrap {
			margin-bottom: $padding-large-vertical;
			@media screen and (min-width: $screen-tablet) {
				margin-bottom: 0;
			}
			img {}
		}
		.content-wrap {
			p {
				color: $mp-bg-blue-text; //#6d2850;
				font-family: $lato;
				font-weight: bold;
				text-align: center;
				@media screen and (min-width: $screen-tablet) {
					margin-top: $padding-large-vertical * 2;
				}
			}
			ul {
				color: $mp-bg-blue-text; //#6d2850;
				font-family: $lato;
				font-weight: bold;
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					display: block;
					margin: 0;
					padding: 0;
					text-align: center;
				}
			}
		}
	}
	.page-sections {
		.section-anchors {
			margin-top: $padding-large-vertical;
			@media screen and (min-width: $screen-tablet) {
				margin-top: $padding-large-vertical * 2;
			}
			.nav {
				li {
					a {
						background: $mp-subnav-btn-bg; //rgba(#6d2850, .1);
						color: #fff; //#6d2850;
						@include transition(all .2s ease-in-out);
						text-transform: uppercase;
						font-family: $font-family-sans-serif;
						font-weight: 700;
						@media screen and (min-width: $screen-tablet) {
							font-size: 12px;
						}
						@media screen and (min-width: $screen-desktop) {
							font-size: 13px;
						}
						@media screen and (min-width: $screen-lg-desktop) {
							font-size: 14px;
						}
					}
					&.active a,
					a:active,
					a:focus,
					a:hover {
						background: $mp-subnav-btn-hover-bg; //#6d2850;
						// color: #fff;
					}
				}
				@media screen and (min-width: $screen-tablet) {
					li {
						padding-left: $padding-small-horizontal / 2;
						padding-right: $padding-small-horizontal / 2;
					}
					li:first-child { padding-left: 0; }
					li:last-child { padding-right: 0; }
				}
			}
		}
		#how-it-works {
			margin-top: $padding-large-vertical * 2;
			.sections-intro {
				.intro-title {
					margin: 0;
					padding: 0;
					// font-family: $quicksand;
					// font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					color: $mp-title-color; //#31935f;
					position: relative;
					&:after {
						display: block;
						content: '';
						height: 1px;
						width: 240px;
						margin: 0 auto;
						padding: 0;
						background: $mp-title-border;
					}
					@media screen and (min-width: $screen-tablet) {
						font-size: 18px;
						line-height: 27px;
						text-align: center;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 22px;
						line-height: 33px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 30px;
						line-height: 45px;
					}
				}
				.intro-content {
					margin-top: $padding-large-vertical;
					@media screen and (min-width: $screen-tablet) {
						margin-top: $padding-large-vertical * 2;
					}
					.left-content {}
					.right-content {
						p {
							strong {
								color: $mp-subtitle-color; //#6d2850;
							}
						}
					}
				}
			}
			.media-wrap {
				margin-top: $padding-large-vertical;
				.video-wrapper {
					position: relative;
					padding-bottom: 56.25%; /* 16:9 */
					padding-top: 25px;
					height: 0;
					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: 0;
					}
				}
			}
			.section-header {
				.section-title {
					margin: $padding-large-vertical * 2 0 $padding-large-vertical 0;
					padding: 0;
					text-transform: uppercase;
					// font-family: $quicksand;
					// font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					color: $mp-title-color-alt; //#31935f;
					text-align: center;
					position: relative;
					&:after {
						display: block;
						content: '';
						height: 1px;
						width: 240px;
						margin: 0 auto;
						padding: 0;
						background: $mp-title-border;
					}
					@media screen and (min-width: $screen-tablet) {
						font-size: 18px;
						line-height: 27px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 22px;
						line-height: 33px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 30px;
						line-height: 45px;
					}
				}
			}
			.section-content {
				p {
					strong {
						color: $mp-subtitle-color; //#31935f;
					}
				}
			}
			.section-footer {
				.footer-title {
					color: $mp-title-color; //#6d2850;
					text-align: center;
					margin: $padding-large-vertical * 2 $padding-large-horizontal * 2;
					padding: 0;
					font-size: 15px;
					line-height: 20px;
				}
				.custom-program-design {
					background: $mp-bg-blue; //#eef5ec;
					position: relative;
					padding-top: 0; //$padding-large-vertical;
					padding-bottom: 0; //$padding-large-vertical * 2;
					@include clearfix;
					overflow: visible;
					&:before,
					&:after {
						display: block;
						content: '';
						height: 100%;
						width: $grid-gutter-width / 2;
						position: absolute;
						top: 0;
						background: $mp-bg-blue; //#eef5ec;
					}
					&:before {
						left: 100%;
					}
					&:after {
						right: 100%;
					}
					.aside-content {
						@include clearfix;
						text-align: center;
						.image-wrap {
							img {}
						}
						ul {
							list-style: none;
							margin: 0;
							padding: 0;
							margin-left: $padding-large-horizontal;
							margin-top: $padding-large-vertical;
							li {
								&:before {
									display: inline-block;
									content: '\f105';
									font-family: FontAwesome;
									font-style: normal;
									font-weight: normal;
									line-height: 1;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									margin-right: 5px;
								}
								i {}
							}
							li:last-child {
								text-align: right;
								margin-right: $padding-large-horizontal;
								&:before {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		#core-components {
			.section-header {
				.section-title {
					margin: $padding-large-vertical * 2 0 $padding-large-vertical 0;
					padding: 0;
					text-transform: uppercase;
					// font-family: $quicksand;
					// font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					color: $mp-title-color-alt; //#31935f;
					text-align: center;
					position: relative;
					&:after {
						display: block;
						content: '';
						height: 1px;
						width: 240px;
						margin: 0 auto;
						padding: 0;
						background: $mp-title-border;
					}
					@media screen and (min-width: $screen-tablet) {
						font-size: 18px;
						line-height: 27px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 22px;
						line-height: 33px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 30px;
						line-height: 45px;
					}
				}
			}
			.section-content {
				.blurb {
					margin-bottom: $padding-large-vertical;
					@include clearfix;
					@media screen and (min-width: $screen-tablet) {
						margin-bottom: $padding-large-vertical * 2;
					}
					.blurb-header {
						border-bottom: 1px solid $mp-title-color; //#83c570;
						margin-bottom: $padding-base-vertical;
						@media screen and (min-width: $screen-tablet) {
							border-bottom: 0;
						}
						.blurb-title {
							margin: 0;
							padding: 0;
							font-size: 14px;
							text-transform: uppercase;
							color: $mp-title-color; //#83c570;
							.icon-wrap {
								display: inline-block;
								padding: 5px;
								background: $mp-title-color; //#83c570;
								color: #fff;
								@include border-radius(50%);
								height: 24px;
								width: 24px;
								text-align: center;
								@media screen and (min-width: $screen-tablet) {
									display: block;
									margin-left: auto;
									margin-right: auto;
								}
								i {
									@include text-shadow(rgba(black, .1) 0 0 1px);
								}
							}
							.text-wrap {
								color: $mp-title-color-alt;
								@media screen and (min-width: $screen-tablet) {
									display: block;
									text-align: center;
									margin-top: $padding-base-vertical;
								}
							}
						}
					}
					.blurb-content {
						p {
							margin-bottom: 0;
						}
					}
				}
			}
			.section-footer {
				@include clearfix;
				.starter {
					margin-top: $padding-large-vertical;
					padding-top: $padding-large-vertical * 2;
					padding-bottom: $padding-large-vertical * 2;
					@media screen and (min-width: $screen-desktop) {
						padding-top: $padding-large-vertical * 4;
						margin-top: $padding-large-vertical * 2;
					}
					.starter-header {
						@include clearfix;
						text-align: center;
						margin-top: $padding-large-vertical * 2;
						margin-bottom: $padding-large-vertical * 2;
						padding-bottom: $padding-large-vertical * 2;
						position: relative;
						&:after {
							position: absolute;
							bottom: 0;
							left: 50%;
							display: block;
							content: '';
							height: 1px;
							width: 240px;
							margin: 0;
							padding: 0;
							background: $mp-title-border;
							margin-left: -120px;
						}
						.starter-title {
							margin: 0;
							padding: 0;
							font-size: 16px;
							line-height: 24px;
							@media screen and (min-width: $screen-tablet) {
								font-size: 18px;
								line-height: 27px;
							}
							@media screen and (min-width: $screen-desktop) {
								font-size: 22px;
								line-height: 33px;
							}
							@media screen and (min-width: $screen-lg-desktop) {
								font-size: 30px;
								line-height: 45px;
							}
						}
						.starter-subtitle {
							margin: $padding-large-vertical 0 0 0;
							padding: 0;
							font-size: 14px;
							line-height: 20px;
							@media screen and (min-width: $screen-tablet) {
								font-size: 16px;
								line-height: 24px;
							}
							@media screen and (min-width: $screen-desktop) {
								font-size: 20px;
								line-height: 30px;
							}
							@media screen and (min-width: $screen-lg-desktop) {
								font-size: 24px;
								line-height: 36px;
							}
						}
					}
					.pricing-table {
						max-width: 250px;
						margin-left: auto;
						margin-right: auto;
						background: $mp-bg-blue; //#fff;
						border: 0;
						padding-left: 0;
						padding-right: 0;
						@include border-radius(0);
						position: relative;
						overflow: hidden;
						&:before {
							content: '';
							display: block;
							position: absolute;
							z-index: 1;
							top: -20px;
							left: 0;
							height: 100px;
							width: 100%;
							background-image: url(../img/pricing-table-bg-img.png);
							background-position: center top;
							@include background-size(cover);
						}
						@media screen and (min-width: $screen-desktop) {
							max-width: 275px;
						}
						.table-header {
							position: relative;
							z-index: 2;
							.table-title {
								text-transform: uppercase;
								font-size: 14px;
								line-height: 20px;
								margin-top: 0;
								padding-top: 0;
								margin-bottom: 0;
								padding-bottom: 0;
								padding-left: $padding-large-horizontal;
								padding-right: $padding-large-horizontal;
								padding-bottom: $padding-large-vertical;
								color: #fff;
							}
							.price-amount {
								// background: lighten(#6d2850, 10);
								// padding-top: $padding-large-vertical * 2;
								padding-bottom: $padding-large-vertical * 2;
								margin: 0;
								color: #fff;
								font-size: 16px; //30px;
								i {}
							}
						}
						.table-content {
							padding-left: $padding-large-horizontal;
							padding-right: $padding-large-horizontal;
							color: $mp-bg-blue-text;
							font-family: $lato;
							text-align: center;
							ul {
								li {
									padding: $padding-base-horizontal 0;
								}
							}
						}
						.table-footer {
							.button-wrap {
								.btn {
									@include border-radius(0);
									font-family: $lato;
									border: 0;
									background: $mp-subnav-btn-hover-bg;
									@include box-shadow(none);
									@include text-shadow(rgba(black, .2) 0 1px 3px);
									text-transform: uppercase;
								}
							}
						}
					}
					.starter-content {
						margin-top: $padding-large-vertical;
						ul {
							margin: 0;
							padding: 0;
							list-style: disc;
							li {
								i {}
							}
						}
					}
				}
			}
		}
		#learn {
			.section-header {
				.section-title {
					margin: $padding-large-vertical * 2 0 $padding-large-vertical * 2 0;
					padding: 0;
					text-transform: uppercase;
					// font-family: $quicksand;
					// font-weight: 700;
					font-size: 16px;
					line-height: 24px;
					color: $mp-title-color-alt; // #31935f;
					text-align: center;
					position: relative;
					&:after {
						display: block;
						content: '';
						height: 1px;
						width: 240px;
						margin: 0 auto;
						padding: 0;
						background: $mp-title-border;
					}
					@media screen and (min-width: $screen-tablet) {
						font-size: 18px;
						line-height: 27px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 22px;
						line-height: 33px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 30px;
						line-height: 45px;
					}
				}
			}
			.section-content {
				.sub-title {
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					font-family: $quicksand;
					font-weight: 700;
					font-size: 14px;
					line-height: 20px;
					color: $mp-title-color-alt;
				}
				ul {
					li {
						padding: $padding-small-vertical / 4 0;
						a {
							font-size: 13px;
							color: $mp-title-color;
							@include transition(color .2s ease-in-out);
							&:hover,
							&:focus,
							&:active {
								color: $mp-title-color-alt;
							}
						}
					}
				}
			}
		}
		#faqs {
			padding-top: $padding-large-vertical * 2;
			@media screen and (min-width: $screen-tablet) {
				padding-top: $padding-large-vertical * 3;
			}
			@media screen and (min-width: $screen-desktop) {
				padding-top: $padding-large-vertical * 4;
			}
			.section-header {
				.section-title {
					margin: $padding-large-vertical * 2 0 $padding-large-vertical * 2 0;
					padding: 0;
					text-transform: uppercase;
					font-size: 16px;
					line-height: 24px;
					color: $mp-title-color-alt; //#31935f;
					text-align: center;
					position: relative;
					&:after {
						display: block;
						content: '';
						height: 1px;
						width: 240px;
						margin: 0 auto;
						padding: 0;
						background: $mp-title-border;
					}
					@media screen and (min-width: $screen-tablet) {
						font-size: 18px;
						line-height: 27px;
					}
					@media screen and (min-width: $screen-desktop) {
						font-size: 22px;
						line-height: 33px;
					}
					@media screen and (min-width: $screen-lg-desktop) {
						font-size: 30px;
						line-height: 45px;
					}
				}
			}
			#faq-accordion {
				.panel {
					border-color: $mp-bg-blue; // rgba($brand-primary, .1);
					@include border-radius(0);
					@include box-shadow(none);
					.panel-heading {
						padding-left: $padding-small-horizontal / 2;
						background: $mp-bg-blue; // rgba($brand-primary, .1);
						@media screen and (min-width: $screen-desktop) {
							padding-left: $padding-small-horizontal;
						}
						.panel-title {
							margin: 0;
							padding: 0;
							font-size: 12px;
							text-transform: uppercase;
							color: $mp-bg-blue-text; //#31935f;
							font-weight: bold;
							font-family: $lato;
							@media screen and (min-width: $screen-desktop) {
								font-size: 14px;
							}
							.icon-wrap {
								padding-right: 5px;
								i {}
							}
							a {}
						}
					}
					.panel-collapse {
						.panel-body {
							border: 0;
						}
					}
				}
			}
		}
	}
}