/* --- Homepage Content --- */
#intro {
	background: $intro-section-bg;
	.flexslider {
		@include box-shadow(none);
		@include border-radius(0);
		border: 0;
		margin-bottom: 0;
	}
	.home-slide {
		@include clearfix;
		position: relative;
		z-index: 1;
		height: 250px;
		display: table;
		width: 100%;
		background: red;
		@media screen and (min-width: $screen-tablet) {
			height: 350px;
		}
		@media screen and (min-width: $screen-desktop) {
			height: 450px;
		}
		@media screen and (min-width: $screen-lg-desktop) {
			height: 530px;
		}
		.image-wrap {
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			background-color: transparent;
			background-position: center center;
			background-repeat: no-repeat;
			@include background-size(cover);
		}
		.slide-content {
			display: table-cell;
			vertical-align: middle;
			width: 100% !important;
			.container {
				background: red;
			}
		}
	}
}

#about-liveto110 {
	background: $about-section-bg;
	padding-top: 48px;
	padding-bottom: 48px;
	.section-title {
		text-transform: uppercase;
		font-size: 30px;
	}
	.section-subtitle {
		font-weight: 400;
		font-size: 17px;
		line-height: 18px;
		margin-top: 0;
		color: $gray-light;
		margin-bottom: 18px;
		span {
			font-style: italic;
			color: #1C904A;
		}
	}
	.blurbs-wrap {
		.row > div {
			&:nth-of-type(1) {
				.blurb-header { background: #008fc8; }
				.blurb-footer .read-more-link { 
					background: #008fc8;
					border: 1px solid #008fc8;
					&:hover {
						background: #fff;
						color: #008fc8;
						letter-spacing: 1px;
					}
				}
			}
			&:nth-of-type(2) {
				.blurb-header { background: #ff2c40; }
				.blurb-footer .read-more-link { 
					background: #ff2c40;
					border: 1px solid #ff2c40;
					&:hover {
						background: #fff;
						color: #ff2c40;
						letter-spacing: 1px;
					}
				}
			}
			&:nth-of-type(3) {
				.blurb-header { background: #7bc46f; }
				.blurb-footer .read-more-link { 
					background: #7bc46f;
					border: 1px solid #7bc46f;
					&:hover {
						background: #fff;
						color: #7bc46f;
						letter-spacing: 1px;
					}
				}
			}
			&:nth-of-type(4) {
				.blurb-header { background: #c873a0; }
				.blurb-footer .read-more-link { 
					background: #c873a0;
					border: 1px solid #c873a0;
					&:hover {
						background: #fff;
						color: #c873a0;
						letter-spacing: 1px;
					}
				}
			}
		}
		.blurb {
			padding: 0 0 $padding-large-horizontal 0;
			margin: 0 0 $grid-gutter-width 0;
			@include box-shadow(rgba(black, .1) 1px 1px 2px);
			background: #fff;
			@media screen and (min-width: $screen-tablet) and (max-width: $screen-desktop - 1) {
				height: 260px;
			}
			@media screen and (min-width: $screen-desktop) and (max-width: $screen-lg-desktop - 1) {
				height: 310px;
			}
			@media screen and (min-width: $screen-lg-desktop) {
				height: 285px;
			}
		}
		.blurb-header {
			padding-top: $padding-large-vertical;
			.icon-wrap {
				display: block;
				margin: 0;
				padding: 0;
				height: 60px;
				font-size: 48px;
				line-height: 60px;
				color: #fff;
				display: table;
				width: 100%;
				background: transparent;
				text-align: center;
				i {
					display: inline-block;
				}
			}
			.blurb-title {
				text-align: center;
				display: block;
				font-size: 27px;
				line-height: 60px;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				line-height: 50px;
				color: #fff;
			}
			
		}
		.blurb-entry {
			text-align: center;
			color: #828386;
			padding: $padding-large-vertical $padding-large-horizontal;
			font-family: $font-family-serif;
			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
		.blurb-footer {
			.read-more-link {
				display: block;
				text-align: center;
				margin-left: $padding-large-horizontal;
				margin-right: $padding-large-horizontal;
				font-size: 13px;
				line-height: 24px;
				text-transform: uppercase;
				color: #fff;
				padding: $padding-large-vertical $padding-large-horizontal;
				text-decoration: none;
				@include transition(all .3s ease-in-out);
				.go-to-icon {
					margin-left: 5px;
				}
			}
		}
	}
}

#special-offers {
	background-image: url(../img/grass-sky-bg.jpg);
	background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	@include background-size(cover);
	min-height: 250px;
	padding-top: 24px;
	padding-bottom: 48px;
	@media screen and (min-width: $screen-tablet) {
		min-height: 350px;
	}
	@media screen and (min-width: $screen-desktop) {
		min-height: 450px;
	}
	@media screen and (min-width: $screen-lg-desktop) {
		min-height: 540px;
	}
	.section-title {
		text-transform: uppercase;
		font-size: 30px;
		color: #7b2355;
		padding-bottom: 24px;
		padding-top: 24px;
		margin-bottom: 0;
		background: rgba(white, .6);
	}
	.offers-wrap {
		background: rgba(white, .6);
		.offer {
			display: block;
			margin-bottom: $grid-gutter-width;
			@media screen and (min-width: $screen-tablet) {
				margin-bottom: 60px;
				// max-height: 320px;
				// overflow: hidden;
			}
			img {
				// max-height: 300px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

#latest-articles {
	padding-top: 48px;
	padding-bottom: 48px;
	background: $recentposts-section-bg;
	.section-title {
		text-transform: uppercase;
		font-size: 30px;
		margin-bottom: 24px;
		color: #00443d;
	}
	.post {
		background: #fff;
		padding-top: 24px;
		padding-bottom: 24px;
		margin-bottom: $grid-gutter-width;
		@include box-shadow(rgba(black, .2) 1px 1px 2px);
		position: relative;
		padding-bottom: 30px + $padding-large-horizontal;
		@media screen and (min-width: $screen-tablet) {
			margin-bottom: 0;
			height: 712px;
			overflow: hidden;
		}
		@media screen and (min-width: $screen-desktop) {
			height: 661px;
		}
		.post-header {
			height: 120px;
			margin-bottom: 12px;
			padding-left: $padding-large-horizontal;
			padding-right: $padding-large-horizontal;
			overflow: hidden;
			.icon-wrap {
				font-size: 24px;
				line-height: 24px;
				color: #d084ac;
			}
			.post-title {
				font-size: 14px;
				line-height: 20px;
				color: #02463f;
				margin-top: 12px;
				text-transform: uppercase;
				@media screen and (min-width: $screen-tablet) {
					font-size: 18px;
				}
			}
		}
		.image-wrap {
			@media screen and (min-width: $screen-tablet) {
				max-height: 156px;
				overflow: hidden;
			}
			@media screen and (min-width: $screen-desktop) {
				max-height: 208px;
			}
			@media screen and (min-width: $screen-lg-desktop) {
				max-height: 216px;
			}
		}
		.entry {
			margin-top: 24px;
			padding-left: $padding-large-horizontal;
			padding-right: $padding-large-horizontal;
			color: #3c5c56;
			p {
				font-family: $font-family-serif;
				font-size: 16px;
			}
			.read-more-link {
				display: inline;
				text-transform: uppercase;
				font-family: $font-family-base;
				margin-left: 5px;
				font-size: smaller;
				color: #83bea0;
			}
			img {
				display: none;
			}
		}
		.post-footer {
			margin-top: 12px;
			padding-left: $padding-large-horizontal;
			padding-right: $padding-large-horizontal;
			position: absolute;
			bottom: $padding-large-horizontal;
			left: 0;
			width: 100%;
			.btn {
				width: 100%;
				color: #781e52;
				background: #e2a2bc;
				@include border-radius(0);
				@include box-shadow(none);
				border: 0;
				text-align: right;
				font-size: 12px;
				line-height: 18px;
				text-transform: uppercase;
			}
		}
	}
}