/* --- Sidebar - Default --- */
#secondary.widget-area {
	background: #fff;
	@include clearfix;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: $text-color;
	padding: 24px 15px 0;
	@include box-shadow(rgba(black, .1) 0 0 5px);
	@media screen and (min-width: $screen-tablet) {
		margin-top: $padding-large-vertical * 2;
	}
	.widget {
		font-size: 16px;
		@include hyphens(auto);
		margin-bottom: 48px;
		width: 100%;
		word-wrap: break-word;
		ul,
		ol {
			list-style: none;
			margin: 0;
			padding: 0;
            li a {
                color: #000;
            }
		}
		li > ol,
		li > ul {
			margin-left: 18px;
		}
		.widget-title, .widget-title a {
			color: #2b2b2b;
			font-size: 20px;
            font-weight: bold;
			text-transform: uppercase;
		}
        
        @media screen and (max-width: $screen-phone) {
            display: block !important;
        }
        #menu-product-categories {
            li {
                a {
                    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
                    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
                    box-shadow:inset 0px 1px 0px 0px #ffffff;
                    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
                    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
                    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
                    background-color:#ededed;
                    -webkit-border-top-left-radius:6px;
                    -moz-border-radius-topleft:6px;
                    border-top-left-radius:6px;
                    -webkit-border-top-right-radius:6px;
                    -moz-border-radius-topright:6px;
                    border-top-right-radius:6px;
                    -webkit-border-bottom-right-radius:6px;
                    -moz-border-radius-bottomright:6px;
                    border-bottom-right-radius:6px;
                    -webkit-border-bottom-left-radius:6px;
                    -moz-border-radius-bottomleft:6px;
                    border-bottom-left-radius:6px;
                    text-indent:0;
                    border:1px solid #dcdcdc;
                    display:inline-block;
                    height:40px;
                    line-height:40px;
                    width:200px;
                    text-decoration:none;
                    text-align:center;
                    text-shadow:1px 1px 0px #ffffff;
                    &:hover {
                        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
                        background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
                        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
                        background-color:#dfdfdf;
                    }
                    &:active {
                        position:relative;
                        top:1px;
                    }
                }
            }
        }
	}
	/* List Style Widgets*/
	.widget_archive li,
	.widget_categories li,
	.widget_links li,
	.widget_meta li,
	.widget_nav_menu li,
	.widget_pages li,
	.widget_recent_comments li,
	.widget_recent_entries li {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding: 8px 0 9px;
		&:first-child {
			border-top: 0;
		}
	}
	.widget_categories li ul,
	.widget_nav_menu li ul,
	.widget_pages li ul {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-top: 9px;
	}
	.widget_categories li li:last-child,
	.widget_nav_menu li li:last-child,
	.widget_pages li li:last-child {
		padding-bottom: 0;
	}
	/* Recent Posts Widget */
	.widget_recent_entries .post-date {
		display: block;
	}
	/* RSS Widget */
	.rsswidget img {
		margin-top: -4px;
	}
	.rssSummary {
		margin: 9px 0;
	}
	.rss-date {
		display: block;
	}
	.widget_rss li {
		margin-bottom: 18px;
	}
	.widget_rss li:last-child {
		margin-bottom: 0;
	}
	/* Text Widget */
	.widget_text > div > :last-child {
		margin-bottom: 0;
	}

	.widget_search {
		form {
			position: relative;
			width: 100%;
			label {
				display: block;
				margin: 0;
				padding: 0;
				input {
					font-size: 12px;
					width: 100%;
				}
			}
			.btn {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

#left-sidebar-template #secondary {
	margin-top: 48px;
}

.woocommerce-page #secondary {
	margin-top: 48px;
}

.tptn_posts_widget li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0 9px;
    &:first-child {
        border-top: 0;
    }
}