/* --- Masthead --- */
#masthead {
	background: transparent url(../img/green-leaves.png) center top no-repeat;
	@include background-size(cover);
	#site-branding {
		// min-height: 165px;
		padding-top: 12px;
		padding-bottom: 12px;
		display: table;
		width: 100%;
		@media screen and (min-width: $screen-tablet) {
			@include clearfix;
			// padding-top: 24px;
			// padding-bottom: 24px;
		}
		.site-title {
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
			@media screen and (min-width: $screen-tablet) {
				text-align: left;
				float: left;
			}
			a {
				display: block;
				position: relative;
				@media screen and (min-width: $screen-tablet) {}
				.title-text {
					display: none;
				}
				.logo-image {
					max-width: 120px;
					margin-left: auto;
					margin-right: auto;
					@media screen and (min-width: $screen-tablet) {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
		.site-description {
			text-align: center;
			text-transform: uppercase;
			font-family: $lato;
			font-weight: 300;
			font-style: italic;
			color: #BF76A4;
			display: none;
			@media screen and (min-width: $screen-tablet) {
				display: table-cell;
				vertical-align: middle;
				text-align: right;
				margin: 0;
				width: 125px;
			}
		}
	}
}