/* --- Searchform Drawer --- */
#searchform-drawer {
	background: $searchform-drawer-bg;
	height: 50px;
	display: none;
	form {
		position: relative;
		top: 10px;
		height: 30px;
		margin: 0;
		padding: 0;
		.form-control {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			margin: 0;
			height: 30px; // 24px;
			font-family: $lato;
			font-weight: 400;
			text-align: center;
			@include border-radius(0);
			border-color: rgba(black, .2);
			font-size: 14px;
		}
		.btn {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			margin: 0;
			padding: 0;
			height: 30px;
			width: 30px;
			display: block;
			line-height: 20px;
		}
	}
}